@font-face {
    font-family: 'jost';
    src: url(../assets/fonts/Jost/Jost-VariableFont_wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'open-sans';
    src: url(../assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'montserrat';
    src: url(../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'play-fair';
    src: url(../assets/fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf);
    font-display: swap;
}