/* ==< All products-products page >== */
@use 'variables';
@import 'mixins';
@import 'fonts';
.filter-container {
  width: auto;
  height: auto;
  border: 2px solid variables.$secondary-color;
  margin: 0px auto 30px auto;
  border-radius: 1rem;
  overflow: hidden;
  background-image: url(../assets/img/cupcake8.jpg);
  background-size: cover;
}

.filter-body {
  width: auto;
  height: auto;
  padding: 0px 16px;
  background: #f7f7f750;
  backdrop-filter: blur(0.5rem);

  h2 {
    padding: 16px 10px 0px 10px;
    margin: 0px 0px;
    font-weight: 700;
    @include title;
  }
}

.filter-btn{
  display: flex;
  width: auto;
  max-width: fit-content;
  color: #cc486b;
  background-color: #ffcae6;
  border: 2px solid #cc486b;
  border-radius: 20px;
  margin-bottom: 10px;
}
.filter-btn a{
  color: #cc486b;
  text-decoration: none;
}

.list-deco {
  margin-bottom: auto;
  @include list-decoration(variables.$primary-color);

  a {
    font-weight: 500;
    font-size: 100%;
    text-size-adjust: auto;
    font-family: auto;
    font-weight: 700;
  }
}

.filter-tags__link {
  font-size: 17px;
  padding: 7px;
  display: flex; //inline
  border: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 20px;
}

.filter-tags__item-list {
  box-sizing: content-box;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  display: flex;

  a {
    text-decoration: none;

    &:hover{
      background-color: #d0f2f3;
    }
  }
}

.filter-tags__list {
  margin: 17.5px 0px 17.5px 0px;
  padding-left: 0px;
  text-wrap: nowrap;
  padding-inline-start: 0px;
}

.filter-tags__container {
  padding: 0;
}
.section-block__quarter {
  padding-bottom: 5px;
}