/* ==< Media query's >== */
@use 'variables';
@import 'mixins';

@media only screen and (max-width: 640px) {
  .product-title {
    font-size: 2em;
  }
}

/* < Card buy button > */
@media only screen and (max-width: 768px) {
  .oculto {
    position: static;
    background-color: #ffffff00;
    visibility: visible;
    opacity: 1;
  }

  .block-products-set__product-buttons-buy {
    margin: -23px 10px 10px 10px;
  }

  .block-products-set__product-buttons-view {
    visibility: hidden;
    position: absolute;
  }
}

/* ==< All products >== */
@media only screen and (max-width: 992px) {
  .filter-p {
    position: absolute;
    visibility: hidden;
    z-index: -1;
    width: 0;
  }
}

/* ==< Search bar >==*/
@media only screen and (max-width: 992px){
  
  .search {
    display: contents;
    input{
      position: absolute;
    }
  }
  .btn-search {
    position: relative;
    right: unset;
  }

  .search:hover {
    input {
      padding: 0 10px 0 50px;
    }
  }
}
/* ==< Chef Section - Orders page >==*/

@media only screen and (max-width: 992px){
  .chef{
    display: none;
  }
}

@media only screen and (max-width: 383px){
  .search:hover {
    input {
      width: 275px;
    }
  }

}

@media only screen and (max-width: 433px){
  .carousel-control-next, .carousel-control-prev {
    opacity: 1;
    width: 15%;

    span{
      width: 22px;
    }
  }
}
@media only screen and (max-width: 576px){
  #mainCarousel{
    display: none;  }
}
@media only screen and (max-width: 1200px){
  .banner-orders {
    border-radius: 65px;
  }
  .order-background{
    border-radius: 65px;
  }
}
@media only screen and (max-width: 1015px){
  .banner-orders {
    border-radius: 55px;
  }
  .order-background{
    border-radius: 55px;
  }
}
@media only screen and (max-width: 546px){
  .banner-orders {
    border-radius: 45px;
  }
  .order-background{
    border-radius: 45px;
  }
}
@media only screen and (max-width: 1251px){
  .chef-image {
    img {
      width: 100%;
    }
  }
}