@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Jost&family=Open+Sans&family=Work+Sans:ital,wght@1,300&display=swap');

.header{
  background-color: #f191ac;
  color: #fff;
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 3px solid #eb6085;
}
.main {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -5;
}
.list{
  list-style-type: none;
}

.icon{
  display: flex;
  align-items: center;
}

.icon img{
  height: 50px;
  width: 55px;
  margin-right: 10px;
  margin-left: 10px;
}

.name-company{
  color: #fff;
  display: flex;
  text-decoration: none;
  font-size: 54px;
  font-family: 'Dancing Script', cursive;
}

/* Estilos del index */

.index.title{
  margin-top: 1em;
  font-size: 36px;
  top: 100px;
  position: relative;
}

.title-text {
  text-align: center;
}

.call{
  background-color: rgba(246, 166, 187, 0.6);
  width: 40%;
  border: 2px solid;
  border-radius: 5px;
  position: relative;
  top: 110px;
  left: 30%;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.button{
  text-decoration: none;
  color: #fff;
  background-color: #e07392;
  margin: 10px 5px;
  padding: 3px;
  border: #f4bbc9;
  border-radius: 5px;
}


.first.title {
  text-align: center;
  padding: 2em 3em;
  margin-top: 4em;
  font-size: 20px;
  position: relative;
}

.location .title-text {
  font-size: x-large;
  padding: 2em 1em 1em;
}

.location.map {
  display: inline-block;
  height: 400px;
  width: 100%;
  text-align: center;
}

.map1,
.map2{
  display: inline-block;
  width: 49%;
}

.map1{
  display: inline-block;
  border-right: 2px solid #eb6085;
  border-right-style: dashed;
}



.location h3 {
  padding: 1em 1em 0em 1em;
  font-size: 28px;
}

.location p {
  font-size: 22px;
}

/* Estilos de pedidos */

.buy-title {
  text-align: center;
  padding: 2em 3em;
  margin-top: 6em;
  font-size: 20px;
  position: relative;
}
main>form {
  margin: 0 auto;
}
.form {
  width: 50%;
  font-size: x-large;
  text-align: start;
}
input {
  font-size: x-large;
  background-color: #ffffffb9;
}
select{
  font-size: x-large;
  background-color: #ffffffb9;
}
label {
  padding-right: 1em;
}
.forms{
  background-color: rgba(246, 166, 187, 0.6);
  border: 3px solid #000000;
  padding: 10px;
}
.name-input{
  position: relative;
  left: 30px;
}
.mail-input {
  width: 222px;
  position: relative;
  left: 6px;
}
.phone-input {
  width: 222px;
  position: relative;
  left: 6px;
}
.address>textarea {
  position: relative;
  top: 10px;
}
.submit,
.delete {
  position: relative;
  padding: 1em;
  border: solid 2px #000000;
  border-radius: 10px;
  font-size: medium;
  font-weight: bold;
  background-color: #fef0f4;
  cursor: pointer;
}
.submit {
  bottom: 5px;
  left: 11px;
}
.delete {
  bottom: 5px;
  left: 11px;
}
.submit:hover,
.delete:hover {
  background-color: #fac0cd;
  color: aliceblue;
}
textarea{
  font-size: x-large;
  background-color: #ffffffb9;
}

/* Estilos de productos */

.productos.title {
  font-size: 20px;
  text-align: center;
  padding: 4em 3em 0;
}

.productos.gallery {
  display: inline-block;
  width: 100%;
  padding: 2em 1em 0;
  text-align: center;
  margin-top: 100px;
}

.gallery-card {
  text-align: center;
  display: inline-block;
  width: 24%;
  height: 350px;
  padding: 1em;
  border: 1px solid #eb6085;
  border-radius: 10px;
}

.gallery-card:hover {
  cursor: pointer;
}

.gallery-card img {
  width: 100%;
  height: 70%;
}